{% extends 'global/partials/base.html' %}
{% load static %}

{% block title %}Homepage{% endblock title %}

{% block content %}

<main>
  <div class="container">
      <div class="item-box">
          <img src="#" alt="Capacete" class="item-image">
          <div class="item-info">
              <p>Informações do produto.exe</p>
          </div>
          <div class="buttons">
              <button class="btn">Valor compra</button>
              <button class="btn">Valor empréstimo</button>
          </div>
          <button class="btn-register">Registrar Item</button>
      </div>
  </div>
</main>
{% endblock content %}


{% comment %} {% extends 'global/partials/base.html' %}
{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block content %}

    <h1>Lista de EPIs</h1>

    <form method="get">
        <input type="text" name="search" placeholder="Buscar EPIs">
        <button type="submit">Buscar</button>
    </form>

    <h2>Carrinho de Compras</h2>
    <table> {# Tabela para o carrinho #}
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantidade</th>
                <th>Preço Unitário</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for item in carrinho_itens %}
            <tr>
                <td>{{ item.epi.nome }}</td>
                <td>{{ item.quantidade }}</td>
                <td>{{ item.epi.valor }}</td>
                <td>{{ item.epi.valor|multiply:item.quantidade }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3"><strong>Total:</strong></td>
                <td><strong>{{ valor_total }}</strong></td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'view_cart' %}" class="btn btn-primary">Ver Carrinho Completo</a>



    <h2>EPIs Disponíveis</h2> {# Título para a lista de EPIs #}
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Quantidade</th>
                <th>Valor</th>
                <th>Fornecedor</th>
                <th>Disponibilidade</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for epi in epis %}
                <tr>
                    <td>{{ epi.nome }}</td>
                    <td>{{ epi.descricao }}</td>
                    <td>{{ epi.quantidade }}</td>
                    <td>{{ epi.valor }}</td>
                    <td>{{ epi.fornecedor }}</td>
                    <td>{{ epi.disponibilidade }}</td>
                    <td>{{ epi.categoria }}</td>

                    <td>
                        <a href="{% url 'epi_detail' epi.pk %}">Detalhar</a> |
                        <a href="{% url 'epi_update' epi.pk %}">Editar</a> |
                        <a href="{% url 'epi_delete' epi.pk %}">Excluir</a> |

                        <form method="post" action="{% url 'add_to_cart' epi.pk %}" style="display: inline;">
                            {% csrf_token %}
                            {{ add_to_cart_form.quantidade }}
                            {{ add_to_cart_form.epi }}
                            <button type="submit" name="add_to_cart">Adicionar ao Carrinho</button>
                        </form>
                    </td>


                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">« primeira</a>
                <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">próxima</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">» última</a>
            {% endif %}
        </span>
    </div>
{% endif %}

    <a href="{% url 'epi_create' %}">Criar novo EPI</a>
{% endblock %} {% endcomment %}