<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'epi_shops/css/style.css' %}">
    <title>{% block title %}EPI FÁCIL{% endblock %}</title>
</head>
<body>
    <header>
        <div class="navbar">
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Contato</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Sair</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Entrar</a></li>
                        <li><a href="{% url 'create_user' %}">Criar Conta</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% if messages %} <div class="messages"> {## Bloco para exibir mensagens ##}
            <ul>
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div> {% endif %}

        {% block content %}{% endblock %}
    </main>
    <footer>
        <div>
            <p>© 2021 - EPI FÁCIL</p>
        </div>
    </footer>
  </body>
</html>