{% extends "epi_shops/partial/base.html" %}

{% block title %}Homepage{% endblock title %}

{% block content %}
<main>
    <div class="container">
        <div class="item-box">
            
            <div class="item-info">
                <p>Informações do produto.exe</p>
            </div>
            <div class="buttons">
                <button class="btn">Valor compra</button>
                <button class="btn">Valor empréstimo</button>
            </div>
            <button class="btn-register">Registrar Item</button>
        </div>
    </div>
</main>
{% endblock %}
