{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    {% include 'global/partials/header.html' %} {# Inclui o cabeçalho #}
</head>
<body>

    <div class="container"> {# Adiciona um container Bootstrap para o conteúdo #}
        {% block content %}{% endblock %}
    </div>

    <footer>
        <div class="footer-content">
            <p Class="logout-link">© 2024 MyCompany, Inc. All rights reserved.</p>
            <nav>
                <ul>
                    <li><a href="#" class="logout-link">Contato</a></li>
                </ul>
            </nav>
        </div>
      </footer>
      </html>

     </body>

</html>