{% comment %} {% extends 'global/partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %} {# Carrega as tags crispy #}


{% block title %}{% if object %}Editar{% else %}Criar{% endif %} EPI{% endblock %}

{% block content %}
    <h1>{% if object %}Editar{% else %}Criar{% endif %} EPI</h1>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }} {# Usa crispy-forms para renderizar o formulário #}
        <button type="submit" class="btn btn-primary">Salvar</button> {# Botão estilizado com Bootstrap #}

    </form>

    <a href="{% url 'epi_list' %}" class="btn btn-secondary">Voltar para a lista</a> {# Botão estilizado com Bootstrap #}

{% endblock %} {% endcomment %}